$colors-base-white: #FFFFFF;
$colors-base-background: #FAFAFA;
$colors-base-card: #F3F2F2;
$colors-base-input: #EDEDED;
$colors-base-button: #E6E5E5;
$colors-base-hover: #D7D5D5;
$colors-base-label: #8D8686;
$colors-base-text: #574F4D;
$colors-base-subtitle: #403937;
$colors-base-title: #272221;
$colors-base-error: #f84747;
$colors-brand-purple-dark: #4B2995;
$colors-brand-purple: #8047F8;
$colors-brand-purple-light: #EBE5F9;
$colors-brand-yellow-dark: #C47F17;
$colors-brand-yellow: #DBAC2C;
$colors-brand-yellow-light: #F1E9C9;

$textSizes-title-title-xl: 3rem;
$textSizes-title-title-l: 2rem;
$textSizes-title-title-m: 1.5rem;
$textSizes-title-title-s: 1.2rem;
$textSizes-title-title-xs: 1.125rem;
$textSizes-text-regular-l: 1.25rem;
$textSizes-text-bold-l: 1.25rem;
$textSizes-text-regular-m: 1rem;
$textSizes-text-bold-m: 1rem;
$textSizes-text-regular-s: 0.875rem;
$textSizes-text-bold-s: 0.75rem;
$textSizes-components-tag: 0.625rem;
$textSizes-components-button-g: 0.875rem;
$textSizes-components-button-s: 0.75rem;

$fonts-regular: 'Roboto';
$fonts-title: 'Baloo 2';