$colors-base-white: #ffffff;
$colors-base-background: #fafafa;
$colors-base-card: #f3f2f2;
$colors-base-input: #ededed;
$colors-base-button: #e6e5e5;
$colors-base-hover: #d7d5d5;
$colors-base-label: #8d8686;
$colors-base-text: #574f4d;
$colors-base-subtitle: #403937;
$colors-base-title: #272221;
$colors-base-error: #f84747;
$colors-brand-purple-dark: #4b2995;
$colors-brand-purple: #8047f8;
$colors-brand-purple-light: #ebe5f9;
$colors-brand-yellow-dark: #c47f17;
$colors-brand-yellow: #dbac2c;
$colors-brand-yellow-light: #f1e9c9;
$text-sizes-title-title-xl: 3rem;
$text-sizes-title-title-l: 2rem;
$text-sizes-title-title-m: 1.5rem;
$text-sizes-title-title-s: 1.2rem;
$text-sizes-title-title-xs: 1.125rem;
$text-sizes-text-regular-l: 1.25rem;
$text-sizes-text-bold-l: 1.25rem;
$text-sizes-text-regular-m: 1rem;
$text-sizes-text-bold-m: 1rem;
$text-sizes-text-regular-s: 0.875rem;
$text-sizes-text-bold-s: 0.75rem;
$text-sizes-components-tag: 0.625rem;
$text-sizes-components-button-g: 0.875rem;
$text-sizes-components-button-s: 0.75rem;
$fonts-regular: 'Roboto';
$fonts-title: 'Baloo 2';