@import '../../styles/variables.scss';

.colors-base-white {
  color: $colors-base-white;
}

.colors-base-background {
  background-color: $colors-base-background;
}

.colors-base-card {
  background-color: $colors-base-card;
}

.colors-base-input {
  background-color: $colors-base-input;
}

.colors-base-button {
  background-color: $colors-base-button;
}

.colors-base-hover {
  background-color: $colors-base-hover;
}

.colors-base-label {
  color: $colors-base-label;
}

.colors-base-text {
  color: $colors-base-text;
}

.colors-base-subtitle {
  color: $colors-base-subtitle;
}

.colors-base-title {
  color: $colors-base-title;
}

.colors-base-error {
  color: $colors-base-error;
}

.colors-brand-purple-dark {
  color: $colors-brand-purple-dark;
}

.colors-brand-purple {
  color: $colors-brand-purple;
}

.colors-brand-purple-light {
  color: $colors-brand-purple-light;
}

.colors-brand-yellow-dark {
  color: $colors-brand-yellow-dark;
}

.colors-brand-yellow {
  color: $colors-brand-yellow;
}

.colors-brand-yellow-light {
  color: $colors-brand-yellow-light;
}

.text-sizes-title-title-xl {
  font-size: $text-sizes-title-title-xl;
}

.text-sizes-title-title-l {
  font-size: $text-sizes-title-title-l;
}

.text-sizes-title-title-m {
  font-size: $text-sizes-title-title-m;
}

.text-sizes-title-title-s {
  font-size: $text-sizes-title-title-s;
}

.text-sizes-title-title-xs {
  font-size: $text-sizes-title-title-xs;
}

.text-sizes-text-regular-l {
  font-size: $text-sizes-text-regular-l;
}

.text-sizes-text-bold-l {
  font-size: $text-sizes-text-bold-l;
}

.text-sizes-text-regular-m {
  font-size: $text-sizes-text-regular-m;
}

.text-sizes-text-bold-m {
  font-size: $text-sizes-text-bold-m;
}

.text-sizes-text-regular-s {
  font-size: $text-sizes-text-regular-s;
}

.text-sizes-text-bold-s {
  font-size: $text-sizes-text-bold-s;
}

.text-sizes-components-tag {
  font-size: $text-sizes-components-tag;
}

.text-sizes-components-button-g {
  font-size: $text-sizes-components-button-g;
}

.text-sizes-components-button-s {
  font-size: $text-sizes-components-button-s;
}

.fonts-regular {
  font-family: $fonts-regular;
}

.fonts-title {
  font-family: $fonts-title;
}
