@import '../../styles/variables.scss';

.coffee-card-container {
  width: 100%;
  background: $colors-base-card;
  border-radius: 6px 36px 6px 36px;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  text-align: center;
  margin-top: 3rem;

  img {
    width: 7.5rem;
    height: 7.5rem;
    margin-top: -5rem;
  }
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-top: 1rem;
  margin-bottom: 1.25rem;
  flex-wrap: wrap;

  span {
    background: $colors-brand-yellow-light;
    color: $colors-brand-yellow-dark;
    font-size: $text-sizes-components-tag;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
    border-radius: 999px;
    font-weight: 700;
  }
}

.name {
  margin-bottom: 0.5rem;
  font-size: $text-sizes-text-regular-s;
  color: $colors-base-subtitle;
  font-weight: 700;
}

.description {
  margin-bottom: 2rem;
  font-size: $text-sizes-text-regular-s;
  color: $colors-base-label;
}

.card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:auto;
  > div {
    display: flex;
    align-items: center;
    gap: 3px;

    p {
      line-height: 0.75rem;
    }
  }
}

.add-cart-wrapper {
  width: 7.5rem;

  > button {
    width: 2.375rem;
    height: 2.375rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $colors-brand-purple-dark;
    border-radius: 6px;
    margin-left: 0.3rem;
    transition: 0.4s;

    &:hover {
      background: $colors-brand-purple;
    }
  }
}
